h1{
	font-size:60;
	text-align:center;
	
}


h2{
	font-size:30;
	text-align:center;
}

body{

	font-family:Gisha;
	background-color:rgba(255, 99, 71, 0.6);
	display: block;
	margin-left: auto;
	margin-right: auto;
	color:rgba(255, 226, 167, 1);
	text-align: center;
	direction: rtl;
	font-size:20;
}


	
	
.polaroid {
   width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

 
.container {
  text-align: center;
  padding: 10px 20px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 32%;
	border-radius: 8px white;
	border: 2px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 400px;
}


 .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}