img {
	width: 20%;	
}



body{
	font-family:Gisha;
	background-image: linear-gradient( rgba(255,0,0,0.2), rgba(255, 0, 0, 0.7));
	display: block;
	color:black;
	text-align: center;
	direction: rtl;
	font-size:20;
	
}

h1{
	font-size:80;
	text-align: center;
	 
}
 ul{
	text-align: center;
	margin:auto;
	list-style:circle inside;
	display:inline;
	text-align: right;
 }


ol{
	list-style:numbers inside ;
	margin:auto;
	display:inline;
	text-align: right;

}

h3{
	font-size:30;
	text-align: right;
	
}

h2{
	font-size:30;
	 text-align: center;
	
}

.mask2 {
   -webkit-mask-image: radial-gradient(circle, black 62%, rgba(0, 0, 0, 0.5) 50%);
  mask-image: radial-gradient(circle, black 62%, rgba(0, 0, 0, 0.5) 50%);
}

.button {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: white;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; 
	transition-duration: 0.4s;
	font-family:Gisha;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid hsl(0, 100%, 30%);
}

.button1:hover {
  background-color: hsl(0, 100%, 30%);
  color: white;
}

#blue{
	color: hsl(0, 100%, 30%);
	font-size:60;
}

