img {
	width: 20%;


}
.c{
	position:relative;
	left: -450px;
}


body{
	font-family:Gisha;
	background-image: linear-gradient( rgba(255, 179, 158, 1), rgba(255, 179, 158, 0.4));
	display: block;
	color:black;
	text-align: right;
	direction: rtl;
	font-size:30;
	
}

h1{
	font-size:80;
	text-align: center;
	 
}

.cen{
	width:600;
	
	
	
}