h1{
	font-size:80;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}


img{	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 12%;
	
}

body {
	background-color:pink;
	font-family:Gisha;
   	margin-left: auto;
	margin-right: auto;
	color:rgb(202, 0, 71);
	text-align: center;
	font-size:35;
	direction: rtl;
	 

}

img {
  border-radius: 80px white;
  border: 5px solid #ddd;
  border-radius: 40px;
  padding: 5px;
  width: 400px;
  border-color:rgb(202, 0, 71);
}

